
*.dot

# SUS codegen files
verilog_output/

# Vivado stuff
mandelbrotFPGA.cache/
mandelbrotFPGA.gen/
mandelbrotFPGA.hw/
mandelbrotFPGA.ip_user_files/
mandelbrotFPGA.runs/
mandelbrotFPGA.sim/
ip_out/
*.dcp
mandelbrotFPGA_dump.txt
mandelbrotFPGA_def_val.txt
