
*.dot

# SUS codegen files
verilog_output/

# Vivado stuff
mandelbrotFPGA.cache/
mandelbrotFPGA.gen/
mandelbrotFPGA.hw/
mandelbrotFPGA.ip_user_files/
mandelbrotFPGA.runs/
mandelbrotFPGA.sim/
mandelbrotFPGA.xpr
*.xci
*.dcp
